<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Current Roles</h5>

                <div ibox-tools></div>
            </div>
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Role Id</th>
                        <th>Role Name</th>
                        <th>Created_At</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in data">
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.created_at }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    

</div>
</div>
