<div class="wrapper wrapper-content animated fadeInRight" >
<div class="row" ui-view>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Current Roles</h5>
                <a class = 'pull-right btn btn-primary minuspad' ui-sref="index.roles.add">Add</a>
            </div>
            
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Role Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in data">
                        <td>{{ role.name }}</td>
                        <td><!-- <div edit-box></div> -->
                         <a ui-sref="index.roles.edit({id:role.id})"> <i class="glyphicon glyphicon-edit"></i></a>
                            <a ng-click="delete(role.id)"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    

</div>
</div>
