<div class="wrapper wrapper-content animated fadeInRight" >
<div class="row" ui-view>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Roles >> Trash</h5>
            </div>
            
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Role Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in data">
                        <td>{{ role.name }}</td>
                        <td>
                            <a ng-click="restore(role.id)"> <i class="glyphicon glyphicon-open"></i></a> 
                            <a ng-click="delete(role.id)"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    

</div>
</div>
