



    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">AC+</h1>

            </div>
             <form name="loginForm" ng-submit="submitForm()" novalidate>

          <div class="form-group">
            <input type="email" name="userEmail" ng-model="email" ng-minlength="5" ng-maxlength="20" required  class="form-control input-lg" placeholder="Email"/>

              <div ng-messages="loginForm.userEmail.$error" class="text-danger" role="alert" ng-show="loginForm.userEmail.$touched">
                <div ng-message="required">Please Enter Email</div>
                <div ng-message="email">Enter an Valid Email Address </div>
              </div>
          </div>

           <div class="form-group">
            <input type="password" name="userPassword" ng-model="password" ng-minlength="5" ng-maxlength="20" required  class="form-control input-lg" placeholder="Password"/>
              <div ng-messages="loginForm.userPassword.$error" class="text-danger" role="alert" ng-show="loginForm.userPassword.$touched">
                <div ng-message="required">Please Enter Password</div>
              </div>
               <div ng-show="error"><label class="text-danger">invalid credentials</label></div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
             <span><a href="#">Need help?</a></span>
          </div>
        </form>
            <p class="m-t"> <small>copyright &copy; 2015</small> </p>
        </div>
    </div>
