<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p><strong>You'll fall in love with me at the first sight</strong></p>
			<p>
			Lorem ipsum dolor sit amet, ei purto tamquam ceteros his, eos in graece posidonium. 
			Ex nullam vidisse salutatus sed, ea persius phaedrum tincidunt vel. Option virtute nonumes ne est. 
			Id homero expetendis eam, dictas rationibus ut has.
			</p>
			<blockquote>
			Pri pertinacia elaboraret te, an eirmod delicatissimi nec. Eu liber quodsi maiorum mei. 
			Civibus perfecto rationibus id his, est noster nostrud aliquando at.
			</blockquote>
			<a href="#gallery" class="btn btn-skin btn-lg btn-scroll">See my photos</a>
			
		</div>		
		<div class="col-md-6">
			<p><strong>You'll fall in love with me at the first sight</strong></p>
			<p>
			Lorem ipsum dolor sit amet, ei purto tamquam ceteros his, eos in graece posidonium. 
			Ex nullam vidisse salutatus sed, ea persius phaedrum tincidunt vel. Option virtute nonumes ne est. 
			Id homero expetendis eam, dictas rationibus ut has.
			</p>
			<blockquote>
			Pri pertinacia elaboraret te, an eirmod delicatissimi nec. Eu liber quodsi maiorum mei. 
			Civibus perfecto rationibus id his, est noster nostrud aliquando at.
			</blockquote>
			<a href="#gallery" class="btn btn-skin btn-lg btn-scroll">See my photos</a>
		</div>
	</div>		
</div>
<section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5" style="background-position: 0% 9.3125px;">
		
		<div class="container">
			<div class="row">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i ui-sref="index.categories" class="fa fa-graduation-cap fa-5x"></i>
							</div>
						<span class="color-white">categories</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i ui-sref="index.transactions" class="fa fa-heart fa-5x"></i>
							</div>
						<span class="color-white">transactions</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-plane fa-5x"></i>
							</div>
						<span class="color-white">I love traveling</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center txt-shadow">
							<div class="icon">
								<i class="fa fa-camera fa-5x"></i>
							</div>
						<span class="color-white">I'm photographer</span>
						</div>
					</div>
			</div>		
		</div>
	</section>