<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row" ui-view>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Categories</h5>
                    <a class = 'pull-right btn btn-primary minuspad' ui-sref="index.categories.add">Add</a>
                    <div class="col-md-2 col-sm-5 minuspad">
                        <input type="text" placeholder="Name for Search" class="form-control" data-ng-model="SearchName">
                    </div>                
                </div>
            </div>    
            <div class="ibox-content">
                <table class="table" ng-show='SearchName'>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Parent Category</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cat in categories | filter:cat.name=SearchName" class="wrapper wrapper-content animated fadeIn" >
                  <!-- <div ng-show="!cat.name">{{cat}}
                        <td>ascdsa<td>
                    </div> -->
                    <td>{{ cat.name }}</td>
                    <td ng-hide="!cat.subcategories.name">{{ cat.subcategories.name }}</td>
                    <td ng-show="!cat.subcategories.name">Parent</td>
                    <td>
                        <a ng-show = 'admin' ng-click="delete(cat.id)"> <i class="glyphicon glyphicon-trash"></i></a>
                        <a ng-show = 'admin' ui-sref="index.categories.edit({id:cat.id})"><i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
                <uib-accordion close-others="oneAtATime" ng-if="!SearchName" ng-repeat="category in parentCategories">
                    <uib-accordion-group is-open="status.open">
                        <uib-accordion-heading>
                            {{category.name}}
                            <a  ng-show = 'admin'class="pull-right" ng-click="delete(category.id)"><i class="glyphicon glyphicon-trash"></i></a>
                            <a  ng-show = 'admin'class="pull-right" ui-sref="index.categories.edit({id:category.id})"> 
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                           
                        </uib-accordion-heading>
                        <table class="table">
                            <tbody>
                                <tr ng-if="category.subCategories.length==0"><td align = "center">Subcategories not Defined<td><tr>
                                <tr ng-repeat="sub in category.subCategories">
                                    <td>{{ sub.name }}</td>
                                    <td ng-show = 'admin'>
                                        <a class="pull-right" ng-click="delete(sub.id)"><i class="glyphicon glyphicon-trash"></i></a>
                                        <a class="pull-right" ui-sref="index.categories.edit({id:sub.id})"> 
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </uib-accordion-group>
                </uib-accordion>   
            </div> 
        </div>
    </div>
</div>
    

</div>
</div>
