
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

              <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-rounded" width="60px" height="60px" src="img/user_placeholder.png"/>
                
                    <a class="dropdown-toggle" dropdown-toggle ui-sref="index.dashboard">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{ userData.name }}</strong>
                             </span>
                                <span class="text-muted text-xs block"> {{ userData.email }} </span>
                                <span class="text-muted text-xs block"><a ui-sref="profile"> Profile</a> </span>

                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    AT
                </div>
            </li>
            <li>
                <a ui-sref="index.users"><i class="fa fa-users"></i> <span class="nav-label">{{ 'Users'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.users">{{ 'View'  }} </a></li>
                </ul>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.users.add">{{ 'Add New User'  }} </a></li>
                </ul>
                <!-- <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="index.users.settings"></i>{{ 'Settings'  }}  <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="">Assign Role</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                </ul> -->
            </li>
            <li>
                <a ui-sref="index.roles"><i class="fa fa-cog fa-fw"></i><span class="nav-label">{{ 'Roles'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.roles">{{ 'View'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.roles.add">{{ 'Add'  }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.roles.trash">{{ 'Trash'  }}</a></li>
                </ul>
            </li>
            <li>
                <a ui-sref="index.categories"><i class="fa fa-database"></i> <span class="nav-label">{{ 'Categories'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.categories">{{ 'View'  }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.categories.add">{{ 'Add'  }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.categories.trash">{{ 'Trash'  }}</a></li>
                    
                </ul>
            </li>
             <li>
                <a ui-sref="index.transactions"><i class="fa fa-credit-card"></i> <span class="nav-label">{{ 'Transactios'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.transactions">{{ 'View'  }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.transactions.add">{{ 'Add'  }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.transactions.trash">{{ 'Trash'  }}</a></li>
                    
                </ul>
            </li>


           
        </ul>

    </div>
</nav>
