
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                             </span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="profile">Profile</a></li>
                        <li><a ui-sref="contacts">Contacts</a></li>
                        <li><a ui-sref="inbox">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="../login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    AT
                </div>
            </li>
            <li>
                <a ui-sref="index.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Users'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.welcome">{{ 'View'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Add'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Edit'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Delete'  }} </a></li>
                </ul>
            </li>
            <li>
                <a ui-sref="index.roles"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Roles'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.roles">{{ 'View'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.roles.add">{{ 'Add'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Edit'  }} </a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Delete'  }} </a></li>
                </ul>
            </li>
            <li>
                <a ui-sref="index.dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'Categories'  }}</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="index.welcome">{{ 'View'  }} v.1</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Add'  }} v.2</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Edit'  }} v.3</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.dashboard">{{ 'Delete'  }} v.4</a></li>
                </ul>
            </li>


           
        </ul>

    </div>
</nav>
