<div class="wrapper wrapper-content animated fadeInRight" >
<div class="row" ui-view>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Transactions >> Trash</h5>

                <div ibox-tools></div>
            </div>
            
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Added User</th>
                        <th>Category</th>
                        <th>Transaction Type</th>
                        <th>Transaction Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transaction in data">
                        <td>{{ transaction.title}}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.users.name }}</td>
                        <td>{{ transaction.categories.name }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.transaction_date }}</td>
                        
                        <td><!-- <a ui-sref="index.categories.edit({id:transaction.id})"> <i class="glyphicon glyphicon-edit"></i></a> 
                            <a ng-click="delete(transaction.id)"><i class="glyphicon glyphicon-trash"></i></a>--></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    

</div>
</div>
